@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  font-family: "Montserrat", sans-serif;
}

.testing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
